<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Types</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <style>body{overflow-x: hidden;}</style>
</head>
<body style="background-color:#fdfffc;">
    <div style="padding-top: 50px; margin: 30px;">
        <table class="table">
            <thead class="thead-dark bg-dark text-light">
            <tr>
                <th scope="col">Event ID</th>
                <th scope="col">Event Type</th>
                <th scope="col">Total participants</th>
            </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row">{{event[0]}}</th>
                    <td>{{event[1]}}</td>
                    <td>{{event[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
            <button id="addbtn"type="button" class="mb-5 btn btn-primary btn-lg"style = "margin-left:40%;" >
            + Add new Event
            </button>
        <div class="row" style="margin-left: 200px;display: none;" id="eventname">  
            <div class="col-md-4">
            </div>
            <div class="col-md-4 w3-card-4 border border-dark" style ="background-color:#fdfcdc;position:relative;height:600px;width:950px;border-radius:12px;">
                <div style="border-radius:12px;position:relative;background-color: green;"class="w3-container "><h2 style="font-family:monospace;text-align:center;color:white">Event Addition form</h2></div>
                <form class="w3-container" method="post">

                <div style="font-size:large;left:270px;position:relative;"><label style="font-size: x-large;font-weight: bold;"class="sr-only mt-5 mb-4 ">Add new Event&emsp;</label>
                    <input style="border-radius:6px;"class="w3-input" type="text" name="Newevent"  placeholder="Enter event type "></div>
                
                <div style="font-size:larger;left:270px;position:relative;"> <label style="font-size: x-large;font-weight: bold;"class="mt-3 sr-only mb-3">Max participants&ensp;</label>
                    <input style="border-radius:6px;"class="w3-input"name="MAXP" type="number" placeholder="Enter maximum participants"></div>

                <br>
                <div style="font-size:larger;font-size:large;left:270px;position:relative;"><label style="font-size: x-large;font-weight: bold;"class="mt-3 sr-only mb-4">Enter image link&ensp;</label>
                    <input  style="border-radius:6px;"class="w3-input"name="LNK" type="text" placeholder="Enter image link"></div>

                <div style="font-size:larger;left:270px;position:relative;"><label style="font-size: x-large;font-weight: bold;"class="mt-3 sr-only mb-3">Registration fee&ensp;</label>
                <input  style="border-radius:6px;"class="w3-input"name="Fee" type="number" placeholder="Enter registrtation fee"></div>

                <br>
                <div style="font-size:larger;left:270px;position:relative;"><label style="font-size: x-large;font-weight: bold;"class="mt-3 sr-only mb-3 ">Type id&ensp; </label>
                    <input  style="border-radius:6px;"class="w3-input"name="typeid" type="number" placeholder="Enter type id"></div>
                <br>
                <button style ="font-size:larger;left:450px;position:relative"type="submit" class="mt-4 mb-3 btn btn-primary" onclick="login()">Submit</button>
                <!-- <a class="btn "href="" style="color:white; background-color:green; margin-left:5px; margin-top:90px;font-size:18px;">submit</a> -->
                </form>
            </div>
        </div>
    </div>
    <script>
        const targetDiv = document.getElementById("eventname")
        const btn=document.getElementById("addbtn")
        btn.onclick =function() {
            if (targetDiv.style.display == "none") {
                    targetDiv.style.display = "block";
            }
            else{
                targetDiv.style.display = "block";
            }
        };  
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
</body>
</html>