<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Information</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="background-color: #caf0f8">
    <div
      style="
        background-color: #390099;
        height: 7rem;
        align-items: center;
        display: flex;
        justify-content: center;
      "
    >
      <h1 style="font-family: Trebuchet MS; color: #edf2f4; text-align: center">
        About COEP Events &#128526;
      </h1>
    </div>
    <br />
    {% for event in events %}
    <div
      style="
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 20%;
      "
    >
      <div class="card border-success mb-3 bg-dark" style="width: 60rem">
        <div
          style="font-family: serif;color:#b5e48c;align-items: center; display: flex; justify-content: center"
          class=" h1 card-header bg-transparent border-success"
        >
          {{event[3]}}
        </div>
        <div class="card-body ">
          <h4
            class="card-title"
            style="color:#fdc5f5;align-items: center; display: flex; justify-content: center"
          >
            <b>{{event[3]}}</b>&nbsp;is a flagship {{event[6]}} event of College
            of engineering Pune
          </h4>
        </div>
        <div
          class="text-info card-footer bg-transparent border-success"
          style="align-items: center; display: flex; justify-content: center"
        >
        <h4>
            Venue: {{event[7]}}
        </h4>        
        </div>
        <div
          class="text-info card-footer bg-transparent border-success"
          style="align-items: center; display: flex; justify-content: center"
        >
        <h5>
            Registration fee: &#8377;{{event[4]}}
        </h5>  
        </div>
      </div>
    </div>
    <br />
    {% endfor %}
  </body>
</html>
