<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <style>body{overflow-x: hidden;}</style>
</head>
<body class="bg-light">
    <div>
        <nav class="navbar navbar-light bg-dark justify-content-between text-light px-5">
            <a class="navbar-brand text-light">COEP</a>
            <form class="form-inline">
                <a href="/admin" class="btn btn-outline-success my-2 my-sm-0" type="submit">Admin Login</a>
            </form>
        </nav>
    </div>  
    <div style="margin-top: 20px;">
        <img src="../static/images/login.png" alt="" style="width:100%">
    </div>
    <div class="row">
      <div class="col-md-4 bg-dark">
        
      </div>
      <div class="col-md-4 px-5 bg-success border border-dark">
        <form style="margin-top: 30px;margin-bottom:30px ;" method="post">
            <div class="form-group text-dark">
                <label class="h4" for="inlineFormCustomSelect">First Name</label>
                <input name="FirstName" type="first" class="form-control border border-dark" id="firstname" aria-describedby="fistName" placeholder="Enter First Name">
                <br/>
                <label class="h4" for="inlineFormCustomSelect">Last Name</label>
                <input name="LastName" type="last" class="form-control border border-dark" id="lastname" aria-describedby="LastName" placeholder="Enter Last Name">
            </div>
            <br/>
            <div class="form-group">
              <label class="h4" for="inlineFormCustomSelect">Mobile Number</label>
                <input name="MobileNumber" type="tel" class="form-control border border-dark" id="mobileNumber" placeholder="Mobile Number">
            </div>
            <br/>
            <div class="form-group rounded">
                <label class="h4" for="inlineFormCustomSelect">Branch</label>
                <select name="Branch" class="custom-select w-100 border border-dark" id="inlineFormCustomSelect">
                    <option selected>Select Branch</option>
                    <option value="1">Civil</option>
                    <option value="2">Computer</option>
                    <option value="3">Electrical</option>
                    <option value="4">E&TC</option>
                    <option value="5">Instrumentation</option>
                    <option value="6">Mechanical</option>
                    <option value="7">Metallurgy</option>
                    <option value="8">Production</option>
                </select>
            </div>
            <br/>
            <div class="form-group rounded">
                <label class="h4" for="inlineFormCustomSelect">Event Type</label>
                <select name="Event" class="custom-select w-100 border border-dark">
                    <option selected>Select Event</option>
                    {% for event in events %}
                        <option value={{event[0]}}>{{event[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" onclick="login()">Submit</button>
        </form>
      </div>
      <div class="col-md-4 bg-dark">
      </div>
    </div>
</body>
</html>